<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link href="https://smsystem.cyclic.cloud/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Student Result</title>
  </head>
  <body class="body-class">
    {{{body}}}
  </body>
  <script src="/js/result.js"></script>
</html>