<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link href="http://localhost:4000/css/style.css" rel="stylesheet" type="text/css" />
    <title>Student Result</title>
  </head>

  <body class="body-class">
    {{{body}}}
  </body>
  <script src="/js/result.js"></script>
</html>